* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: beige;
}

h1 {
    background-color: bisque;
    text-align: center;
    font-size: 32px;
    width: 1000px;
    margin: 8px auto;
    padding: 16px;
}

img {
    height: auto;
    width: 400px;
    margin: 16px auto;

    display: block
}

.container {
    margin: 8px auto;
    /*border: 2px solid rebeccapurple;*/
    width: 800px;
}

h2 {
    background-color: rgb(214, 197, 149);
    text-align: center;
    width: 800px;
    margin: 8px auto;
    padding: 8px;
}

h3 {
    margin: 8px;
    font-size: 24px;
}

h4 {
    color: rgb(83, 81, 81);
    margin: 8px 8px 4px 8px;
    font-size: 20px;
}

li {
    color: rgb(83, 81, 81);
    padding: 2px;
}

a {
    display: block;
    margin: 4px auto;
    text-align: center;
}

